{% extends "base.html" %}

{% block title %}LegalEvalHub - Benchmarking LLMs on Legal Tasks{% endblock %}

{% block content %}
<article class="documentation">

    <br>
    LegalEvalHub is a simple leaderboard-centric website for tracking and sharing LLM performance on different legal tasks. The platform is intended to be open---we encourage contributions of tasks, leaderboards, and evaluation runs. <br><br>

    <ul>
        <li>To browse tasks and view individual leaderboards, please visit the <a href="/tasks">tasks page</a>.</li>
        <li>To view aggregate leaderboards, please visit the <a href="/aggregate">leaderboard page</a>.</li>
        <li>To contribute a task or an evaluation run, please see <a href="https://github.com/neelguha/LegalEvalHub/blob/main/CONTRIBUTING.md">here</a>.</li>
        <li>To view the FAQ, please visit the <a href="/faq">FAQ page</a>.</li>
    </ul>

</article>
{% endblock %}